.chat{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #33363d;

    &Message{
        flex-grow: 1;
    }

    &Input{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        background: #474b57;
        background-repeat: 5px;
        margin: 20px;
        color: lightgray;

        form{
            flex-grow: 1;
            input{
                padding: 15px;
                background: transparent;
                border: none;
                outline: none;
                color: white;
                font-size: large;
                width: 100%;
            }
            .chatInputButton{
                display: none;
            }
        }
        .chatInputIcons{
            .MuiSvgIcon-root{
                padding: 5px;
            }
         }
    }
}